site_name: Clement Villalard
site_url: https://clementvillalard.com
theme:
  name: material
  features:
    - content.code.copy
    - navigation.footer
  logo: assets/owl_athena.png
  favicon: assets/owl_favicon.ico
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: amber
      accent: yellow

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: orange
      accent: deep orange

# Extensions
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  social:
    - icon: material/linkedin
      link: https://www.linkedin.com/in/clementvillalard
    - icon: material/github
      link: https://github.com/clemviz
  generator: false
copyright: Copyright &copy; 2025 Clement Villalard